{% extends "global/Page.html" %}
{% block title %}Voting Results{% endblock %}

{% block content %}
    <h3>Voting Results</h3>
    <p>Keep votes: {{ keep_votes }}</p>
    <p>Replace votes: {{ replace_votes }}</p>

    {% if vote_result == "Keep" %}
        <p><strong>The representative was KEPT.</strong></p>
    {% else %}
        <p><strong>The representative was REPLACED.</strong></p>
    {% endif %}

    <p>The Representative for the <strong>next</strong> round will be Participant {{ next_rep_pid }}.</p>

    {% next_button %}
{% endblock %}