{% extends "global/Page.html" %}
{% block title %}Please Wait{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">You are in the Representative Pool</h5>
            <p>
                You are currently in the pool of potential Representatives. The active players are completing their tasks for this round.
            </p>
            <p>
                You may be selected to be the Representative in a future round.
            </p>
            <p>
                Please click the button below to confirm you are ready to continue. You will then wait for the other participants to finish.
            </p>
        </div>
    </div>

    <br>
    {% next_button %}

{% endblock %}