{% extends "global/Page.html" %}
{% block title %}Round {{ player.round_number }} Voting Results{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Round Outcome</h5>
            <hr>
            {% if outcome_status == "Retired" %}
                <h4 style="color: blue;">Outcome: The Representative has served a full term and is now RETIRED.</h4>
                <p>The Representative for the next round will be Participant {{ next_rep_pid}}.</p>

            {% elif outcome_status == "Replaced" %}
                <h4 style="color: red;">Outcome: The Representative was REPLACED.</h4>
                <p>The Representative for the next round will be Participant {{ next_rep_pid }}.</p>
            {% else %} 
                <h4 style="color: green;">Outcome: The Representative was KEPT.</h4>
                <p>The Representative for the next round will remain Participant {{ next_rep_pid }}.</p>
            {% endif %}

        </div>
    </div>
    <br>
    {% next_button %}
{% endblock %}