{% extends "global/Page.html" %}
{% block title %}Please Wait{% endblock %}

{% block content %}

    {% if player.game_state == 0 %} {# 0=Pool #}
        <p>
            You are currently in the pool of potential Representatives.
        </p>
        <p>
            The active players are completing their tasks for this round. You may be selected to be the Representative in a future round.
        </p>
    {% elif player.game_state == 3 %} {# 3=Removed #}
        <p>
            You have been removed as Representative. Your part in the main task is now over.
        </p>
        <p>
            Please wait quietly for the other participants to complete the experiment.
        </p>
    {% endif %}

    <div class="card bg-light">
        <div class="card-body">
            This page will advance automatically.
        </div>
    </div>

{% endblock %}